<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <span class="input-group-text">Search</span>
      <input type="text" class="form-control" [(ngModel)]="filterProducts">
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-4 col-md-4 col-md-4" *ngFor="let icecream of icecreams | filter: filterProducts:'name'">
      <div class="card">
        <img [src]=icecream.imageURL [alt]="icecream.name" class="card-img-top" style="max-height: 200px; min-height: 200px;">
        <div class="card-body">
          <h3 class="card-title">{{icecream.name}}</h3>
          <p class="card-text" >{{icecream.description}}</p>
          <p style="text-align: center">€{{icecream.price}}</p>
          <div *ngIf="!addingToCart">
            <button class="btn btn-success" (click)="addToCart(icecream)">Add to Cart</button>
          </div>
          <div *ngIf="addingToCart">
            <button class="btn btn-secondary disabled">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
