<div *ngIf="icecreamProducts.length > 0">
  <div class="container p-3 border-top border-start border-end">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Productname</th>
          <th scope="col">Amount</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of icecreamProducts">
          <th>{{product.name}}</th>
          <td>
            <button class="btn btn-primary me-3" (click)="increaseAmount(product)">+</button>
            {{product.amount}}x
            <button class="btn btn-primary ms-3" (click)="decreaseAmount(product)">-</button>
          </td>
          <td>€ {{product.price * product.amount}}</td>
          <td><button class="btn btn-danger" (click)="removeCartItem(product)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container border-start border-end border-bottom">
    <div class="row">
      <div class="col"><b>Total price:</b></div>
      <div class="col">€ {{completePrice}}</div>
      <div class="col"><button class="btn btn-success mb-3" (click)="sendOrder()">Order</button></div>
    </div>
  </div>
</div>
<div *ngIf="icecreamProducts.length == 0">
  <p class="p-3">The shoppingcart is currently empty</p>
</div>
